.menu {
    display: flex;
    height: 20px;
    justify-content: space-around;
    background-color: chocolate;
    color: white;
}
.menu a{
    text-decoration: none;
    color: white;
}
.teams{
    margin: 0 auto;
    width: 500px;
}
.team{
    color: white;
    padding: 20px;
    background-color: chocolate;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.team a{
    color: white;
    text-decoration: none;
}
.team img{
    width: 100px;
    border-radius: 50px;
}